<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	 http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-4.2.xsd">
		
		<!-- Spring Bean Configuration File, 
		typically named beans.xml or context.xml, but 
		can be named anything when making a simple .jar app 
		as long as we refer to the proper file in our config class -->
		
		<bean id="myFirstBean" class="com.revature.intro.HelloSpring">
		<!-- 
			<property name="message" value="This is setter injection! Welcome to Spring!"/>
		-->
		<constructor-arg name="message" value="This is constructor injection!"/> 
		</bean>
		
		
		<!-- Bean wiring! this is the process of wiring one bean into 
		another bean -->
		<bean id="superBean" class="com.revature.intro.ParentBean">
		<!-- When manually wiring beans, we don't use value as if 
		we are injecting a string or other property type, we use 
		ref to indicate that we are referencing another bean -->
			<property name="dependency" ref="myFirstBean"/>
		</bean>
		
		
		<!-- Exploring autowiring with XML 
		<bean id="employee" class="com.revature.autowired.Employee" autowire="byName" scope="prototype">
		</bean>
		
		<bean id="dept" class="com.revature.autowired.Department" scope="prototype">
			<property name="name" value="Training Department"/>
		</bean>
		
		-->
		
		<!-- USING ANNOTATIONS!!!!!!!!!!!!!!!!! -->
		<context:annotation-config/>
		<context:component-scan base-package="com.revature" />

</beans>