<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				  <span class="sr-only">Toggle navigation</span>
				  <span class="icon-bar"></span>
				  <span class="icon-bar"></span>
				  <span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" routerLink="/"><strong>Heroes</strong></a>
			</div>
		</div>
		<div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a routerLink="/register">Register</a></li>
				<li><a routerLink="/find">Find</a></li>
				<li><a routerLink="/all">All</a></li>
      </ul>
		</div>
		</div>
</nav>