<!-- input fields to add new user username, pw, bio and a submit button -->
<div class="jumbotron" id="submitUserDiv">
        <input type="text" id="username" placeholder="Username"
            class="form-control col-6">
        <input type="password" class="form-control col-6" id="password" 
            Placeholder="password">
        <input type="textarea" id="bio" class="form-control col-6">
        <button class="btn btn-primary" id="addUser">Add User!</button>
        <span id="goToLogin"><i>Back to Login...</i></span>

    </div>
