<p>
  This is our first component, nested inside of
  the root component AKA app.component.ts

  Components are entities in angular that manage
  parts of a webpage or view.

  The are typescript classes decorated with <code>@Component</code>
  which allow us to tightly bind code with a view

  We can use the Angular CLI to generate components
  with the <code>ng g c [name]</code> command
</p>

<h4>Data Binding</h4>
<i>Angular supports data binding, which is a mechanism for 
  coordinating parrts of a template(HTML) with parts of a 
  component(TS)
</i>
<br>
<p>There are a few different types of data binding</p>
<h5>String Interpolation</h5>
String interpolation uses double curly braces to display 
data represented in the component.ts or to evaluate expressions. 
There are many things we can do with this, however it does have 
some restrictions, such as we cannot create new objects in 
template expressions 
Examples:
<ul>
  <li>Math: 2 + 2 = {{ 2 + 2 }}</li>
  <li>Expressions: 10 > 2 ? = 
    {{ 10 > 2 ? 'yes' : 'no'}}
  </li>
  <li>My name is {{ name | uppercase}} </li>
  <li>Time: {{ time | date:'medium' }} </li>
  <li>Here, we are exploring money pipes, 
    1000000 dollars => {{ 1000000 | currency:'CAD' }}
  </li>
</ul>

<h5>Event Binding</h5>
This is another form of data binding which links actions directly 
to DOM elements -- we do this by adding our events to our elements 
in the opening tag as a special attribute 
<code><pre>  &lt;element (event) = "function()> </pre></code>

<button class="btn btn-secondary"
 (click) = "increment()">
  Click Me!</button> {{count}}

<h5 [style.background-color] = "colorProp">Property Binding</h5>
This allows us to apply a property to a DOM element dynamically. 
There are many types of property binding. 
<code><pre>  &lt;element [property] = "variable"> </pre></code>

<h5>Two-way data binding</h5>
Thus far, our data bindings have bound either our template to our 
typescript ( HTML --> TS = event binding), or our typescript to our HTML
(TS --> HTML = property binding and template expressions). But 
how can we establish a relationship that goes both ways between template
and TS. We want to no longer have to obtain data from input field values - 
we simply want our input fields to represent some data. We do this 
with something called a 'Directive', and a special one at that 
This directive is <b>ngModel</b>. In order to use this, however, our @NgModule
must import the FormsModule

<br>
<input type="text" [(ngModel)]="name">
<input type="color" [(ngModel)]="colorProp">

<br><hr><br>
<h3>Direcitves</h3>
<h6>Angular <b>Directives</b> are special pre-built instructions
  that typically render HTML code or provide additional functionality</h6>
  <hr>
  <p>There are three types of directives:</p>
  <ul>
    <li><b>Custom Directives using the decorator <code>@Directive</code>.</b> - This is added to a TypeScript class. Furthermore, The @Component decorator is actually a special form of the @Directive decorator. In practice, you’ll use @Directive when creating your own custom directives. </li>
    <li><b>Structural Directives</b> - This will add/remove/or update the contents of the DOM. It basically changes the webpage’s layout. <code>*ngFor</code> and <code>*ngIf</code> which we’ll explain in a moment are common examples of structural directives. The following is a quick example of their usage. Again, we’ll dive deeper into their usage in a moment.  </li>
    <li><b>Attribute Directives</b> - The final form is an attribute directive. An attribute directive will change the look and feel or behavior of an element. Examples of attribute directives are <code>ngModel</code>, <code>ngClass</code>, and <code>ngStyle</code>. We cover ngModel in a separate video when we explain two-way data-binding. Here, you’ll see usage of ngClass.</li>
  </ul>
   <b>Structural Directive example *ngFor</b>
   <i>List of things that Genesis likes:</i>
   <ul>
     <li *ngFor="let thing of items">
       {{ thing.length }} </li>
   </ul>

   <h1 *ngIf="count%2==0">TESTING IF</h1>